@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');



* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}



.benedetto {
    display: inline-flex;
    width: 500px;
    height: 200px;

}

.imagen {
    width: 500px;
    height: 370px;
}

.logo {
    width: 80px;
    height: 80px;
}