@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');



* {
    font-family: 'Roboto', sans-serif;
}

.logo-labombonera {
    width: 80px;
    height: 80px;
}

.labombonera {
    padding-left: 210px;
    margin: 0;
    text-align: center;
    width: 1000px;
    height: 500px;
}

main{
    border: 1px solid black;
    margin: 40px 300px 40px 300px;
    color: blue;
    text-align: center;
    font-size: 30px;
}

#mapa {
text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
}